@model CustomerManagement.Models.客戶資料

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(m => m)</h4>
    <hr />
    @Html.DisplayForModel()

</div>

<p>聯絡人清單:</p>
@Html.Action("List", "客戶聯絡人", new { 客戶Id = Model.Id })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
