@model IEnumerable<CustomerManagement.Models.客戶管理清單>

@{
    ViewBag.Title = "客戶管理清單";
}

<h2>客戶管理清單</h2>
<ul>
    <li>@Html.ActionLink("客戶資料列表", "Index", "客戶資料")</li>
    <li>@Html.ActionLink("客戶聯絡人列表", "Index", "客戶聯絡人")</li>
    <li>@Html.ActionLink("客戶銀行資訊列表", "Index", "客戶銀行資訊")</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th>
            Function
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.聯絡人數量)
                <button data-customerName='@item.客戶名稱' class="btn btn-xs btn-default btnShowContactEmails">Show Contact Emails</button>
                <ul class="contactEmailResult">
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行帳戶數量)
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(function () {
            $('.btnShowContactEmails').on("click", function () {
                $currentBtn = $(this);
                $currentBtn.next().html('');
                $.ajax
                    ({
                        type: "Get",
                        dataType: "json",
                        url: "/Home/GetContactEmails",
                        data: { customerName: $(this).attr("data-customerName")},
                        async: false,
                        success: function (redata) {
                            if (redata.err) {
                                alert(redata.err);
                            }
                            else {                                
                                $.each(redata, function (index, item) {
                                    $currentBtn.next().append("<li>" + item + "</li>");
                                });
                            }
                        }
                    });
            });


        });
    </script>
}